@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Lexend, sans-serif;
}

body {
  @apply bg-background-light text-text-main antialiased min-h-screen;
}

.safe-area-top {
  padding-top: max(20px, env(safe-area-inset-top));
}
.safe-area-bottom {
  padding-bottom: max(20px, env(safe-area-inset-bottom));
}
